<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke">
    <listeners>
        <listener class-name="TestNG19.Listeners"/>
    </listeners>

    <test name="Test">
        <parameter name="URL" value="qaclickacademy.com"/>
        <parameter name="Apikey" value="key"/>
        <classes>
            <class name="TestNG19.day1Test"/>
            <class name="TestNG19.day2Test"/>
            <class name="TestNG19.day3Test"/>
            <class name="TestNG19.day4Test"/>
            <class name="TestNG19.GlobalValuesDriveTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->